.header__link {
  background-color: ButtonFace;
  color: #d3cbc1;
  border: 1px solid #E8DFD5;
  padding: 2px 8px;
  text-decoration: none;
  border-radius: 3px;
  font: menu;
  cursor: pointer;
}

.admin__content {
  margin: 0 auto;
  max-width: 1230px;
  padding: 30px 15px;
}

.admin__heading {
  text-align: center;
  margin-bottom: 40px;
  color: #8B7E74;
  font-size: 20px;
  padding: 0 15px;
}

.search-form {
  margin: 0 auto;
  width: 80%;
  margin-bottom: 15px;
}

.search-form__item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-form__item-input {
  width: 35%;
  height: 40px;
  padding: 5px;
}

.search-form__item-input input {
  width: 100%;
  
}

.search-form__item-select {
  background-color: #F3F1EF;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 5px;
  height: 40px;
}

.search-form__button-submit {
  width: 80px;
  height: 40px;
  background-color: #7B6F66;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.search-form__button-reset {
  width: 80px;
  height: 40px;
  background-color: #e2dcd4;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.contact-table__utilities {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-table__export {
  height: 35px;
  width: 130px;
}

.pagination {
  display: flex;
  list-style: none;
}

.pagination li a,
.pagination li span {
  padding: 6px 10px;
  border: 1px solid #8B7E74;
  text-decoration: none;
  color: #8B7E74;
  display: inline-block;
  min-width: 32px;
  height: 32px;
  text-align: center;
}

.pagination .active span {
  background-color: #8B7E74;
  color: white;
}

.contact-table {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #8B7E74;
}

.contact-table__header {
  background-color: #8B7E74;
  color: white;
  padding: 5px;
}

.contact-table__row {
  border-bottom: 1px solid #8B7E74;
}

.contact-table__item {
  color: #8B7E74;
  padding: 5px;
}

.contact-table__button {
  background-color: ButtonFace;
  color: #d3cbc1;
  border: 1px solid #E8DFD5;
  padding: 2px 8px;
  border-radius: 3px;
  cursor: pointer;

}

th:last-child,
td:last-child {
  width: 150px;
  text-align: right;
  padding-right: 20px;
}