.header__link {
  background-color: ButtonFace;
  color: #d3cbc1;
  border: 1px solid #E8DFD5;
  padding: 2px 8px;
  text-decoration: none;
  border-radius: 3px;
  font: menu;
  cursor: pointer;
}

.admin__content {
  margin: 0 auto;
  max-width: 1230px;
  padding: 30px 15px;
}

.admin__heading {
  text-align: center;
  margin-bottom: 40px;
  color: #8B7E74;
  font-size: 20px;
  padding: 0 15px;
}