.header__link {
  background-color: ButtonFace;
  color: #d3cbc1;
  border: 1px solid #E8DFD5;
  padding: 2px 8px;
  text-decoration: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 12px;
  font-family: inherit;
}

.register-form__content {
  margin: 0 auto;
  max-width: 1230px;
  background-color: #F5EFE6;
  padding: 20px;
  box-sizing: border-box;
}

.register-form__heading {
  text-align: center;
  margin-bottom: 40px;
  color: #8B7E74;
  font-size: 20px;
}

.register-form__box {
  background-color: white;
  padding: 40px;
  border-radius: 8px;
  max-width: 500px;
  margin: 0 auto;
}

.form {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.form__group {
  margin-bottom: 20px;
}

.form__group-title {
  text-align: left;
  color: #8B7E74;
  padding: 5px;
}

.form__input--text input {
  background-color: #F3F1EF;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 5px;
  width: 100%;
  height: 40px;
}

input::placeholder {
  color: #999;
}

.form__error {
  color: red;
  text-align: left;
}

.form__button {
  margin: 50px 0 20px;
}

.form__button-submit {
  width: 40%;
  height: 40px;
  background-color: #7B6F66;
  color: white;
  border: none;
  cursor: pointer;
}