.thanks {
  position: relative; /* absoluteの基準 */
  display: flex;
  flex-direction: column; /* タイトル＆ボタンを縦に並べる */
  justify-content: center; /* 上下中央配置 */
  align-items: center; /* 左右中央配置 */
  min-height: 100vh; /* 画面の高さ全体を使用 */
  padding: 100px 20px;
  z-index: 0;
}

.thanks::before { /* HTML書かずに文字を追加 */
  content: "Thank you";
  position: absolute;
  top: 50%; /* 中央寄せ準備 */
  left: 50%; /* 中央寄せ準備 */
  transform: translate(-50%, -50%); /* 完全中央寄せ */
  font-size: 150px;
  color: #F5EFE6;
  white-space: nowrap;
  z-index: 0; /* 後ろに表示 */
}

.thanks__header {
  position: relative; /* z-indexを適用するために追加 */
  color: #7B6F66;
  z-index: 1; /* 前面に表示 */
  margin-bottom: 50px;
}

.thanks__link {
  width: 80px;
  height: 40px;
  background-color: #7B6F66;
  color: white;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* z-indexを適用するために追加 */
  z-index: 1; /* 前面に表示 */
}